build

# Executables
*.out
*.hex

# Lists
*.map

# Object files
*.o
*.ko
*.obj
*.elf
*.d
*.browse
*.dep
*.ninja
*.ninja_deps
*.ninja_log
*.pbd
*.pbi
*.pbw
*.xcl
*.tmp
*.bak

# certificates
*.crt
*.key
*.srl
*.csr

*.bin

# VSCode related
.cortex-debug.*
*.log

# other folders
.settings
.vscode
settings